@{
    ViewData["Title"] = "AdminPage";
}

<h1>AdminPage</h1>

<div class="row">
    <div class="col-lg-3 col-sm-auto">
        search-bar
    </div>
    <a asp-action="Index" asp-controller="Product" class="product-box nav-link text-dark col-auto d-flex align-items-center justify-content-center bg-white border border-3">
        <h3>Products</h3>
        <span class="product-box-tooltip">Go to products page</span>
    </a>
</div>