@{
    ViewData["Title"] = "UserPage";
}

<h1>UserPage</h1>
<hr style="width: 15%"/>
<div class="row flex-lg-nowrap flex-lg-row flex-sm-column">
    <a class="col-lg-5 col-sm-auto text-dark text-decoration-none fs-3" asp-action="Addresses">
        Addresses
    </a>
</div>