@inject SignInManager<IdentityUser> signInManager;
@inject AppDbContext dbContext;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AspStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AspStore.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
<header>
    @if (dbContext.Users.Any() == false)
    {
        <div class="modal fade show" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Can't proceed</h5>
                    </div>
                    <div class="modal-body">
                        <span class="text-danger">You haven't completed the first time setup!</span>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" data-bs-dismiss="modal">Complete first time setup</a>
                    </div>
                </div>
            </div>
        </div>
    }
    <nav class="navbar navbar-expand-lg navbar-light bg-white mb-3">
        <div class="container-fluid">
            <div class="row align-items-center first-container w-100 g-0">
                <div class="col-auto me-auto">
                    <a class="navbar-brand ms-1" asp-area="" asp-controller="Home" asp-action="Index" id="index-link">AspStore</a>
                </div>
                <div class="col-auto nav-container-inner-icon-phone">
                    <ul class="navbar-nav nav-font">
                        <li class="nav-item d-flex flex-row align-items-center">
                            <i class="bi bi-telephone-fill"></i>
                            <a href="tel:0888888888" class="nav-link text-dark ms-1 ps-0">08&nbsp;88888888</a>
                        </li>
                    </ul>
                </div>
                <div class="row g-0 collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <div class="col-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        </div>
                        <div class="col-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </div>
                        <div class="col-auto w-100 flex-shrink-1 d-none d-lg-block d-xl-block d-xxl-block">
                            <li class="nav-item d-flex align-items-center" id="search-bar">
                                <i class="bi bi-search position-absolute ms-1"></i>
                                <input type="text" class="form-control flex-grow-1" placeholder="Search any product...">
                            </li>
                        </div>
                        <div class="col-auto order-sm-first order-lg-last">
                            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                                //https://stackoverflow.com/a/50845757 - center the dropdown
                                <li class="nav-item">
                                    <div class="dropdown user-dropdown">
                                        <div class="user-profile-container d-flex justify-content-center" data-bs-toggle="dropdown">
                                            <i class="bi bi-person-circle" id="user-profile-icon"></i>
                                        </div>
                                        <ul class="dropdown-menu text-center">
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminPage">Admin</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UserPage">User</a>
                                            </li>
                                            <li class="nav-item">
                                                <form method="post" asp-action="Logout" asp-controller="Account" class="d-flex justify-content-center">
                                                    <button type="submit" class="nav-link text-dark btn btn-link">Sign out</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            }
                            else if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
                            {
                                <li class="nav-item">
                                    <div class="dropdown user-dropdown">
                                        <div class="user-profile-container d-flex justify-content-center" data-bs-toggle="dropdown">
                                            <i class="bi bi-person-circle" id="user-profile-icon"></i>
                                        </div>
                                        <ul class="dropdown-menu text-center">
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UserPage">User</a>
                                            </li>
                                            <li class="nav-item">
                                                <form method="post" asp-action="Logout" asp-controller="Account" class="d-flex justify-content-center">
                                                    <button type="submit" class="nav-link text-dark btn btn-link">Sign out</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" id="login-link">Login</a>
                                </li>
                            }
                        </div>
                    </ul>
                </div>
            </div>

            <div class="col-auto align-self-start">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".collapse" aria-controls="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col-auto w-100 flex-shrink-1 d-block d-md-block d-lg-none">
                <li class="nav-item d-flex align-items-center" id="search-bar">
                    <i class="bi bi-search position-absolute ms-1"></i>
                    <input type="text" class="form-control flex-grow-1" placeholder="Search any product...">
                </li>
            </div>
        </div>

    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - AspStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>