@media (min-width: 2400px) {
  head, body, footer{
    max-width: 1920px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1000px) {
  .user-dropdown .dropdown-menu{
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
  }
}

@media only screen and (max-width: 1000px) {
  .nav-container-inner-icon-phone{
    margin-right: 100%;
  }

  nav{
    min-width: 300px;
  }

  .user-dropdown .dropdown-menu{
    
    transform: translateX(-35%) !important;
    top: 100% !important;
  }

  .navbar-nav .dropdown-menu{
    position: absolute;
  }

  .first-container{
    width: 80% !important;
  }
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar{
  box-shadow:  2px 2px 2px rgb(0, 0, 0, .05);
}

header,.container{
  padding: 0 5em 0 5em;
}

#login-container, #register-container{
  height: 45vh;
}

#login-form, #register-form{
  padding: 2em;
  border: 1px solid #b3d4fc;
  background-color: white;
  width: 35%;
}

#index-link{
  color: #2A568B;
}

.nav-font{
  font-size: 1.25rem; 
}

#search-bar{
  width: 100%;
}

#user-profile-icon{
  font-size: 1.9em;
}

.user-profile-container{
  transition: background-color 0.25s;
  width: 2.8em;
  height: 2.8em;
  margin-top: -5px;
  margin-right: 1em;
  border-radius: 50%;
}

#login-link{
  width: 2.8em;
  margin-right: 1em;
}

.user-profile-container:hover{
  background-color: rgba(0, 0, 0, .15);
  cursor: pointer;
}

.password-icon{
  z-index: 3 !important;
}

/*https://css-tricks.com/books/fundamental-css-tactics/infinite-scrolling-background-image/*/
.login-sliding-image-container-first {
  position: absolute;
  left: 6%;
  top: 30%;
  width: 88%;
  height: 36px;
  overflow: hidden;
  z-index: -1;
}

.login-sliding-image-container-second{
  position: absolute;
  left: 6%;
  top: 40%;
  width: 89%;
  height: 36px;
  overflow: hidden;
  z-index: -1;
}

.login-sliding-image-container-third{
  position: absolute;
  left: 6%;
  top: 50%;
  width: 89%;
  height: 36px;
  overflow: hidden;
  z-index: -1;
}

.login-sliding-image-container-first, .login-sliding-image-container-second, .login-sliding-image-container-third{
  opacity: 10%;
}

.login-sliding-image-container-third .sliding-image-normal{
  animation: slide 16s linear infinite;
}

.sliding-image-normal {
  background: url("../images/login/background.png") repeat-x;
  height: 36px;
  width: 3600px;
  animation: slide 13s linear infinite;
}

.sliding-image-reverse {
  background: url("../images/login/background.png") repeat-x;
  height: 36px;
  width: 3600px;
  animation: slide 20s linear infinite reverse;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1200px, 0, 0);
  }
}

#search-bar input{
  text-indent: 12px;
}