@model AspStore.Models.Product.ProductModel;

@{
    ViewData["Title"] = "Add";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.snow.min.css" rel="stylesheet">
<h1>@(ViewData["AddText"]==null?"Add":ViewData["AddText"])</h1>
<div class="d-flex justify-content-center align-items-center add-product-container">
    <form class="shadow-sm rounded bg-body-tertiary" method="post" enctype="multipart/form-data" id="add-product-form" onsubmit="handleSubmit()">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <div>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <label asp-for="Id" class="form-label"></label>
            <input asp-for="Id" class="form-control">
        </div>
        <div class="mb-3">
            <div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="mb-3">
            <div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control" type="hidden">
            <div id="editor">
            </div>
        </div>
        <div class="mb-3">
            <div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" class="form-control">
        </div>
        <div class="mb-3">
            <div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <label asp-for="Image" class="form-label"></label>
            <input asp-for="Image" class="form-control" accept="image/png, image/jpeg, image/jpg">
        </div>
        <div class="mb-3">
            <div>
                <span asp-validation-for="ProductCategoryId" class="text-danger"></span>
            </div>
            <label asp-for="ProductCategoryId" class="form-label"></label>
            <select asp-for="ProductCategoryId" asp-items="@((IEnumerable<SelectListItem>)ViewData["ProductCategories"])"></select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js"></script>
<script>
  let quill = new Quill('#editor', {
    modules: {
        toolbar: [
          [{ 'header': [1, 2, 3, false] }],
          ['bold', 'italic', 'underline'],
          [{ 'list': 'bullet' }],
          [{ 'indent': '+1'}, { 'indent': '-1'}],
          ['clean'] 
        ],
      },
    theme: 'snow'
  });
  
  function handleSubmit(){
         let description = document.querySelector("input[name=Description]");
         description.value = quill.root.innerHTML;
  }
   let description = document.querySelector("input[name=Description]");
   if (description.value != null){
        quill.root.innerHTML = description.value;
    }
</script>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}