@inject SignInManager<IdentityUser> signInManager;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row flex-lg-nowrap">
    <div class="col-lg-2 col-sm-auto">
        search-bar
    </div>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a asp-action="Add" asp-controller="Product" class="product-box-add nav-link text-dark col-auto d-flex align-items-center justify-content-center bg-white border border-3">
            <i class="bi bi-plus-circle"></i>
            <span class="product-box-tooltip">Add a new product</span>
        </a>
    }
    <a asp-action="Cpu" asp-controller="Product" class="product-box-add nav-link text-dark col-auto d-flex align-items-center justify-content-center bg-white border border-3">
        <i class="bi bi-cpu"></i>
        <span class="product-box-tooltip">Go to CPU products</span>
    </a>
    <a asp-action="Gpu" asp-controller="Product" class="product-box-add nav-link text-dark col-auto d-flex align-items-center justify-content-center bg-white border border-3">
        <i class="bi bi-gpu-card"></i>
        <span class="product-box-tooltip">Go to GPU products</span>
    </a>
    <a asp-action="Ram" asp-controller="Product" class="product-box-add nav-link text-dark col-auto d-flex align-items-center justify-content-center bg-white border border-3">
        <i class="bi bi-memory"></i>
        <span class="product-box-tooltip">Go to Ram products</span>
    </a>
    <a asp-action="Motherboard" asp-controller="Product" class="product-box-add nav-link text-dark col-auto d-flex align-items-center justify-content-center bg-white border border-3">
        <i class="bi bi-motherboard"></i>
        <span class="product-box-tooltip" style="font-size: 14px">Go to Motherboard products</span>
    </a>
</div>